{% extends "base.html" %}

{% block title %}{{ restaurant['name'] }} - FoodieGo{% endblock %}

{% block content %}

<section class="restaurant-banner">

    <div>

        <p class="small-title">
            RESTAURANT
        </p>

        <h1>
            {{ restaurant['name'] }}
        </h1>

        <p>
            📍 {{ restaurant['location'] }}
        </p>

        <p>
            ⭐ {{ restaurant['rating'] }} Rating
        </p>

    </div>

</section>


<section class="section">

    <div class="section-heading">

        <div>
            <p class="small-title">MENU</p>
            <h2>Available Food</h2>
        </div>

    </div>


    <div class="food-grid">

        {% for food in foods %}

        <div class="food-card">

            <div class="food-image">

                <img src="{{ food['image'] }}"
                     alt="{{ food['name'] }}">

            </div>


            <div class="food-info">

                <span class="category">
                    {{ food['category'] }}
                </span>

                <h3>{{ food['name'] }}</h3>

                <p>
                    {{ food['description'] }}
                </p>


                <div class="food-bottom">

                    <strong>
                        ₹{{ "%.0f"|format(food['price']) }}
                    </strong>

                    <a href="{{ url_for(
                        'add_cart',
                        food_id=food['id']
                    ) }}"
                       class="add-btn">
                        + Add
                    </a>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}